<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>

<!--/*@thymesVar id="addonlist" type="java.util.List<Addon>"*/-->
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->

<!-- STATIC LIST ADDONS FRAGMENT -->
<div class="section" th:fragment="staticAddonSelection(addonlist, title)"
     th:with="slickNavID=${title.replace(' ','_')} , slickDataNav ='#'+${slickNavID}">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title" th:text="${title}">Title</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <!-- Thymeleaf-->
                    <div class="col-md-3" th:each="addon: ${addonlist}">
                        <div th:replace="fragments::addoncard(${addon})">
                        </div>
                    </div>
                    <!-- Thymeleaf-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /LIST ADDONS FRAGMENT -->

<!-- ROTATING LIST ADDONS FRAGMENT -->
<div class="section" th:fragment="addonRotatingSelection(addonlist, title)"
     th:with="slickNavID=${title.replace(' ','_')} , slickDataNav ='#'+${slickNavID}">
    <!--/*@thymesVar id="addonlist" type="java.util.List<Addon>"*/-->
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title" th:text="${title}">Title</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div class="tab-pane active" id="tab1">
                            <div class="products-slick" data-nav="#slick-nav-1" th:attr="data-nav=${slickDataNav}">
                                <!-- Thymeleaf-->
                                <div th:each="addon: ${addonlist}" th:remove="tag">
                                    <div th:replace="fragments::addoncard(${addon})">
                                    </div>
                                </div>
                                <!-- Thymeleaf-->
                            </div>
                            <div class="products-slick-nav" id="slick-nav-1" th:attr="id=${slickNavID}"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /LIST ADDONS FRAGMENT -->

<!-- ROTATING LIST USERS FRAGMENT -->
<div class="section" th:fragment="userRotatingSelection(userlist, title)"
     th:with="slickNavID=${title.replace(' ','_')} , slickDataNav ='#'+${slickNavID}">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title" th:text="${title}">Title</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <!-- Thymeleaf-->
                    <div class="col-md-3" th:each="user: ${userlist}">
                        <div th:replace="fragments::usercardTest(${user})">
                        </div>
                    </div>
                    <!-- Thymeleaf-->
                    <!-- /tab -->
                </div>
            </div>
        </div>
        <!-- Products tab & slick -->
    </div>
    <!-- /row -->
</div>
<!-- /LIST USERS FRAGMENT -->

<!-- /container -->
</div>


<!-- SINGLE ADDON CARD FRAGMENT -->
<div class="product" th:fragment="addoncardold(addon)">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->

    <div class="product-img">
        <img alt="" class="test"
             src="./img/eclipse.png" style="max-width:50px; margin: 5px;"
             th:src="@{/img/{name}(name=${addon.getTargetIde().getLogo()})}">
        <div class="product-label">
            <span class="" th:text="${addon.getTargetIde().getName()}"></span>


        </div>
    </div>
    <div class="product-body">
        <h3 class="product-name">
            <a href="#" th:text="${addon.getName()}" th:href="@{/addons/{id}(id=${addon.getId()})}">
                product name goes here
            </a>
            <p class="product-category" th:text="${addon.getCreator().getUsername()}">
                Category
            </p>
        </h3>
        <i>
            <div th:text="${vf.getShortDescription(addon)}"> ALA BALA</div>
        </i>
        <div class="product-rating">
            <div th:replace="fragments::addonrating(${addon}, 'product-rating')"></div>
        </div>
        <h6 th:text="${vf.getAverageRating(addon)}">Average rating: 4.5 out of 5</h6>
        <h6 th:if="${addon.isApproved()}" th:text="${vf.getNumberOfDownloads(addon)}">16 downloads</h6>
        <h6 style="color: red" th:if="${!addon.isApproved()}">
            <i class="fa fa-exclamation-circle"></i> pending approval</h6>

        <h6 th:text="${vf.getLastCommit(addon)}"></h6>
        <div class="product-btns">
            <button class="add-to-wishlist">
                <i class="fa fa-user"></i>
                <span class="tooltipp"
                      th:text="${addon.getCreator().getUsername()}">Author</span>
            </button>

            <button class="add-to-compare">
                <a target="_blank" th:href="${addon.getOriginUrl()}">
                    <i class="fa fa-git"></i> </a>

                <span class="tooltipp">
                GIT Repo</span>
            </button>

            <button class="quick-view"><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}">
                <i class="fa fa-eye"> </i></a>
                <span class="tooltipp">Details</span>
            </button>


            <button class="add-to-compare">
                <a th:href="${vf.getLinkBinary(addon)}">
                    <i class="fa fa-download"></i>
                </a>
                <span class="tooltipp">
                Download</span>
            </button>

        </div>
    </div>
    <!--        <div class="add-to-cart">-->
    <!--            -->
    <!--            <button class="add-to-cart-btn">-->
    <!--                <i class="fa fa-download"></i> Download</button>-->
    <!--        </div>-->
</div>


<!-- SINGLE ADDON CARD FRAGMENT TEST NEW -->
<div class="product" th:fragment="addoncard(addon)">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->


    <div>
        <div class="product-img">
            <img alt="" class="test"
                 src="./img/eclipse.png" style="max-width:60px; margin: 5px;"

                 th:src="@{/img/{name}(name=${addon.getTargetIde().getLogo()})}">

            <div class="product-label">
                <!--                <span th:class="${vf.getIDEBadgeCSSClass(addon)}" th:text="${addon.getTargetIde().getName()}"></span>-->
                <span th:text="${addon.getTargetIde().getName()}"></span>


            </div>
        </div>
    </div>

    <div class="product-body">
        <h3 class="product-name">
            <a href="#" th:text="${addon.getName()}" th:href="@{/addons/{id}(id=${addon.getId()})}">
                product name goes here
            </a>
            <p class="product-category" th:text="${addon.getCreator().getUsername()}">
                Category
            </p>
        </h3>
        <i>
            <div style="    height: 5em;" th:text="${vf.getShortDescription(addon)}"> ALA BALA</div>
        </i>
        <div class="product-rating">
            <div th:replace="fragments::addonrating(${addon}, 'product-rating')"></div>
        </div>
        <h5 th:text="${vf.getAverageRating(addon)}">Average rating: 4.5 out of 5</h5>
        <h5 th:if="${addon.isApproved()}" th:text="${vf.getNumberOfDownloads(addon)}">16 downloads</h5>
        <h5 style="color: red" th:if="${!addon.isApproved()}">
            <i class="fa fa-exclamation-circle"></i> pending approval</h5>

        <h5 th:text="${vf.getLastCommit(addon)}"></h5>
        <div class="product-btns">
            <button class="add-to-wishlist"><a href="#"
                                               th:href="@{/users/{id}/addons(id=${addon.getCreator().getId()})}">
                <i class="fa fa-user"></i>
            </a>
                <span class="tooltipp"
                      th:text="${addon.getCreator().getUsername()}">Author</span>
            </button>

            <button class="add-to-compare">
                <a target="_blank" th:href="${addon.getOriginUrl()}">
                    <i class="fa fa-git"></i> </a>

                <span class="tooltipp">
                GIT Repo</span>
            </button>

            <button class="quick-view"><a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}">
                <i class="fa fa-eye"> </i></a>
                <span class="tooltipp">Details</span>
            </button>


            <button class="add-to-compare">
                <a th:href="${vf.getLinkBinary(addon)}">
                    <i class="fa fa-download"></i>
                </a>
                <span class="tooltipp">
                Download</span>
            </button>

        </div>
    </div>
    <!--        <div class="add-to-cart">-->
    <!--            -->
    <!--            <button class="add-to-cart-btn">-->
    <!--                <i class="fa fa-download"></i> Download</button>-->
    <!--        </div>-->
</div>

<!-- SINGLE USER CARD FRAGMENT -->
<div class="product" th:fragment="usercard(user)">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->
    <div class="product-img-user">
        <img alt="" class="test"
             src="./img/eclipse.png" style="height: 80px; margin: 5px;"
             th:src="${vf.getUserPictureLink(user)}">
        <div class="product-label-user">
            <span class="" th:text="${user.getRole().getRoleName()}"></span>
        </div>
    </div>
    <div class="product-body">
        <h3 class="product-name">
            <a href="#" th:text="${user.getFirstName()} +' '+ ${user.getLastName()}">
                product name goes here
            </a>
            <p class="product-category" th:text="${user.getEmail()}">
                Category
            </p>
        </h3>

        <div class="product-btns">
            <button class="add-to-wishlist">
                <a th:href="@{/users/{id}/addons(id=${user.getId()})}">
                    <i class="fa fa-user"></i>
                </a>
                <span class="tooltipp"
                      th:text="${user.getUsername()}"
                >Author</span>
            </button>

            <button class="add-to-compare">
                <a th:if="${!user.isBlocked()}" th:href="@{/users/{id}/block(id=${user.getId()})}">
                    <i class="fa fa-ban"></i>
                    <span class="tooltipp">Block</span> </a>

                <a th:if="${user.isBlocked()}" th:href="@{/users/{id}/unblock(id=${user.getId()})}">
                    <i class="fa fa-check-circle"></i>
                    <span class="tooltipp">Unblock</span> </a>

            </button>


            <button class="add-to-compare">
                <a th:href="@{/users/{id}/delete(id=${user.getId()})}">
                    <i class="fa fa-trash-o"></i>
                </a>
                <span class="tooltipp">
                Delete</span>
            </button>

        </div>
    </div>
</div>


<!-- ТЕСТ КАЛИН SINGLE USER CARD FRAGMENT -->
<div class="product" th:fragment="usercardTest(user)">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->
    <div class="product-img-user text-center" style="background-color: white">
        <img alt="" class="test"
             src="./img/eclipse.png" style="height: 100px; margin: 5px; "
             th:src="${vf.getUserPictureLink(user)}">
        <!--        <br><br>-->
        <div class="product-label-user">

            <!--            <span class="" th:text="${user.getRole().getRoleName()}"></span>-->
            <!--            <h6 th:if = "${user.isAdmin()}"class="badge badge-admin">Admin</h6>-->
            <!--            <h6 th:if = "${!user.isAdmin()}"class="badge badge-user">User</h6>-->
            <!--            <h6 th:if = "${user.isBlocked()}"class="badge badge-blocked">Blocked</h6>-->
            <!--            <h6 th:if = "${user.isEnabled()}"class="badge badge-verified">Verified</h6>-->

        </div>
    </div>

    <div class="product-body">
        <h5 th:text="${user.getUsername()}"></h5>

        <h3 class="product-name">

            <a href="#" th:text="${user.getFirstName()} +' '+ ${user.getLastName()}">
                product name goes here
            </a>
            <h6 th:if="${user.isAdmin()}" class="badge badge-admin">Admin</h6>
            <h6 th:if="${!user.isAdmin()}" class="badge badge-user">User</h6>
            <h6 th:if="${user.isBlocked()}" class="badge badge-blocked">Blocked</h6>
            <h6 th:if="${user.isEnabled()}" class="badge badge-verified">Verified</h6>

            <p class="product-category" th:text="${user.getEmail()}">
                Category
            </p>
            <p class="product-category" th:text="${user.getPhoneNumber()}">
                Category
            </p>
        </h3>

        <div class="product-btns">
            <button class="add-to-wishlist">
                <a th:href="@{/users/{id}/addons(id=${user.getId()})}">
                    <i class="fa fa-user"></i>
                </a>
                <span class="tooltipp"
                      th:text="${user.getUsername()}"
                >Author</span>
            </button>

            <button class="add-to-compare">
                <a th:if="${!user.isBlocked()}" th:href="@{/users/{id}/block(id=${user.getId()})}">
                    <i class="fa fa-ban"></i>
                    <span class="tooltipp">Block</span> </a>

                <a th:if="${user.isBlocked()}" th:href="@{/users/{id}/unblock(id=${user.getId()})}">
                    <i class="fa fa-check-circle"></i>
                    <span class="tooltipp">Unblock</span> </a>

            </button>


            <button class="add-to-compare">
                <a th:href="@{/users/{id}/delete(id=${user.getId()})}">
                    <i class="fa fa-trash-o"></i>
                </a>
                <span class="tooltipp">
                Delete</span>
            </button>

        </div>
    </div>
</div>


<!-- NAVIGATION FRAGMENT -->
<nav id="navigation" th:fragment="navigation(page)">
    <!--/*@thymesVar id="page" type="java.lang.String"*/-->
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li th:classappend="${page=='home'} ? 'active' : ''">
                    <a th:href="@{/}">Home</a></li>
                <li th:classappend="${page=='browseaddons'} ? 'active' : ''">
                    <a th:href="@{/addons}">Addons</a>
                </li>
                <li th:if="${isUserLogged}" th:classappend="${page=='profile'} ? 'active' : ''">
                    <a th:href="@{/users/{id}/addons(id=${loggedUserID})}">Profile</a>
                </li>

                <li th:if="${!isUserLogged}" th:classappend="${page=='profile'} ? 'active' : ''">
                    <a th:href="@{/auth/login}">Profile</a>
                </li>

                <li th:if="${isAdmin}" th:classappend="${page=='manageaddons'} ? 'active' : ''">
                    <a th:href="@{/addons/pending}">For approval</a>
                </li>
                <li th:if="${isAdmin}" th:classappend="${page=='manageusers'} ? 'active' : ''">
                    <a th:href="@{/users}">Users</a>
                </li>

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- ADDON RATING FRAGMENT -->
<div th:fragment="addonrating(addon, class)">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->
    <span th:switch="${vf.getNumberOfStars(addon)}">
         <span th:case="'0'" th:class="${class}">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
        <span th:case="'1'" th:class="${class}">
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
        <span th:case="'2'" th:class="${class}">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
        <span th:case="'3'" th:class="${class}">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
         <span th:case="'4'" th:class="${class}">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </span>
          <span th:case="'5'" th:class="${class}">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    </span>
</div>

<!-- STYLE FRAGMENT -->
<div th:fragment="index">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>

    <!-- Slick -->
    <link href="css/slick.css" rel="stylesheet" th:href="@{/css/slick.css}" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" th:href="@{/css/slick-theme.css}" type="text/css"/>

    <!-- nouislider -->
    <link href="css/nouislider.min.css" rel="stylesheet" th:href="@{/css/nouislider.min.css}" type="text/css"/>

    <!-- Font Awesome Icon -->
    <link href="css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <!-- Custom stlylesheet -->
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]&ndash;&gt;-->

</div>

<!-- MAIN HEADER FRAGMENT-->
<div id="header" th:fragment="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-2">
                <div class="header-logo">
                    <a class="logo" th:href="@{~/}">
                        <br>
                        <h3 style="color:white">
                            <i class="fa fa-puzzle-piece" style="color:red"></i>
                            addonis</h3>

                    </a>
                </div>
            </div>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <div class="col-md-8">
                <div class="header-search">
                    <form th:action="@{/addons/search}"
                          th:object="${search}" method="post">

                        <select class="input-select" th:field="*{targetIdeID}">
                            <option value="0">All IDE's</option>
                            <option th:each="targetIde : ${allTargetIde}"
                                    th:text="${targetIde.getName()}"
                                    th:value="${targetIde.getId()}">
                            </option>
                        </select>

                        <input class="input" placeholder="Search here"
                               th:field="*{addonName}">

                        <select class="input-select-sort" th:field="*{sortBy}">
                            <option value="0">Sort by ...</option>
                            <option value="1">Last commit date</option>
                            <option value="2">Downloads</option>
                            <option value="3">Upload date</option>
                            <option value="4">Name</option>

                        </select>
                        <button class="search-btn">Search</button>
                    </form>
                </div>
            </div>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <div class="col-md-2 ">
                <div class="header-ctn">


                    <!-- Register -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/register}">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Register</span>
                        </a>
                    </div>
                    <!-- /Register -->

                    <!-- Login -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/login}">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </div>
                    <!-- /Login -->

                    <!-- Account -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{/users/{id}/addons(id=${loggedUserID})}">
                            <!--                                <img src="/api/storage/users/1/picture" alt="Avatar" style="width:30px; border-radius:50%">-->
                            <i class="fa fa-user-circle-o"></i>

                            <span th:text="${username}">Account</span>
                        </a>
                    </div>
                    <!-- /Account -->

                    <!-- Logout -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{~/auth/logout}">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                    <!-- /Logout -->


                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->

<!-- USER HEADER FRAGMENT-->
<div id="header" th:fragment="userheader">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-2">
                <div class="header-logo">
                    <a class="logo" th:href="@{~/}">
                        <br>
                        <h3 style="color:white">
                            <i class="fa fa-puzzle-piece" style="color:red"></i>
                            addonis</h3>

                    </a>
                </div>
            </div>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <div class="col-md-8 text-center">
                <div class="header-search">
                    <form th:action="@{/users/search}"
                          th:object="${userSearch}" method="post">

                        <select class="input-select" th:field="*{searchBy}">
                            <option value="1">Username</option>
                            <option value="2">Email</option>
                            <option value="3">Phone</option>
                        </select>

                        <input class="input" placeholder="Search here"
                               th:field="*{param}">

                        <!--                        <select class="input-select-sort" th:field="*{sortBy}">-->
                        <!--                            <option value="0">Sort by ...</option>-->
                        <!--                            <option value="1">Last commit date</option>-->
                        <!--                            <option value="2">Downloads</option>-->
                        <!--                            <option value="3">Upload date</option>-->
                        <!--                            <option value="4">Name</option>-->

                        <!--                        </select>-->
                        <button class="search-btn">Search</button>
                    </form>
                </div>
            </div>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <div class="col-md-2 ">
                <div class="header-ctn">


                    <!-- Register -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/register}">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Register</span>
                        </a>
                    </div>
                    <!-- /Register -->

                    <!-- Login -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/login}">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </div>
                    <!-- /Login -->

                    <!-- Account -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{/users/{id}/addons(id=${loggedUserID})}">
                            <!--                                <img src="/api/storage/users/1/picture" alt="Avatar" style="width:30px; border-radius:50%">-->
                            <i class="fa fa-user-circle-o"></i>

                            <span th:text="${username}">Account</span>
                        </a>
                    </div>
                    <!-- /Account -->

                    <!-- Logout -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{~/auth/logout}">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                    <!-- /Logout -->


                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /USER HEADER -->

<!-- MAIN HEADER FRAGMENT-->
<div id="header" th:fragment="header-nosearch(title)">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-2">
                <div class="header-logo">
                    <a class="logo" th:href="@{~/}">
                        <br>
                        <h3 style="color:white">
                            <i class="fa fa-puzzle-piece" style="color:red"></i>
                            addonis</h3>

                    </a>
                </div>
            </div>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <div class="col-md-8 text-center">
                <!--                <h3 style="color:white" th:text="${title}"></h3>-->
                <!--                <div class="header-search">-->
                <!--                    <form th:action="@{/addons/search}"-->
                <!--                          th:object="${search}" method="post">-->

                <!--                        <select class="input-select" th:field="*{targetIdeID}">-->
                <!--                            <option value="0">All IDE's </option>-->
                <!--                            <option th:each="targetIde : ${allTargetIde}"-->
                <!--                                    th:text="${targetIde.getName()}"-->
                <!--                                    th:value="${targetIde.getId()}">-->
                <!--                            </option>-->
                <!--                        </select>-->

                <!--                        <input class="input" placeholder="Search here"-->
                <!--                               th:field="*{addonName}">-->

                <!--                        <select class="input-select-sort" th:field="*{sortBy}">-->
                <!--                            <option value="0">Sort by ...</option>-->
                <!--                            <option value="1">Last commit date</option>-->
                <!--                            <option value="2">Downloads</option>-->
                <!--                            <option value="3">Upload date</option>-->
                <!--                            <option value="3">Name</option>-->

                <!--                        </select>-->
                <!--                        <button class="search-btn">Search</button>-->
                <!--                    </form>-->
                <!--                </div>-->
            </div>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <div class="col-md-2 ">
                <div class="header-ctn">


                    <!-- Register -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/register}">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Register</span>
                        </a>
                    </div>
                    <!-- /Register -->

                    <!-- Login -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/login}">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </div>
                    <!-- /Login -->

                    <!-- Account -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{/users/{id}/addons(id=${loggedUserID})}">
                            <!--                                <img src="/api/storage/users/1/picture" alt="Avatar" style="width:30px; border-radius:50%">-->
                            <i class="fa fa-user-circle-o"></i>

                            <span th:text="${username}">Account</span>
                        </a>
                    </div>
                    <!-- /Account -->

                    <!-- Logout -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{~/auth/logout}">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                    <!-- /Logout -->


                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->
</body>
</html>