<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:remove="tag" th:replace="fragments::index"></div>
</head>
<body>
<header>
    <div th:remove="tag" th:replace="fragments::header"></div>
</header>

<div th:remove="tag" th:replace="fragments::navigation('profile')"></div>

<br>
<div class="section" style="padding-bottom: 0px;">
    <div class="container" style="padding-bottom: 0px;">
        <!-- row -->
        <div class="row" style="padding-bottom: 0px;">
            <div class="col-md-2 text-center">

                <img
                        style="height:80px; border-radius:10%"
                        th:src="@{/api/storage/users/{id}/picture(id=${user.getId()})}">
                <br>

            </div>
            <div class="col-md-7">
                <div class="row text-left">
                    <div class="col-md-12 " style="display: flex;">
                        <h2 th:text="'' +${user.getFirstName()} +' '+ ${user.getLastName()} +' ('+ ${user.getUsername()}+')'"></h2>

                        <div th:if="${user.isAdmin()}">
                            <h6 class="badge featured">Admin</h6>
                        </div>

                        <div th:if="${user.isBlocked()}">
                            <h6 class="badge badge-blocked">Blocked</h6>
                        </div>

                    </div>

                </div>
                <!-- container -->
                <!-- only admin and creator can see edit button-->
                <!-- bocked creators must not see edit button-->
                <div class="row">
                    <div class="col-md-12 "
                         th:if="${user.getUsername().equals(username)}">

                        <a th:if="${!user.isBlocked()}" class="addon-edit-btn" th:href="@{/addons/new}">
                            <i class="fa fa-plus-circle"></i> Create new addon</a>

                        <a class="addon-edit-btn" th:href="@{/users/update}">
                            <i class="fa fa-edit"></i> Edit profile</a>

                        <a class="addon-edit-btn" th:href="@{/users/change/password}">
                            <i class="fa fa-edit"></i> Change password </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <!-- /Rating -->


        </div>
    </div>
</div>


<div th:if="${addonlist.size() != 0}">
    <div th:replace="fragments::staticAddonSelection(${addonlist}, 'User addons')"></div>
</div>


<!-- jQuery Plugins -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/slick.min.js" th:src="@{/js/slick.min.js}"></script>
<script src="js/nouislider.min.js" th:src="@{/js/nouislider.min.js}"></script>
<script src="js/jquery.zoom.min.js" th:src="@{/js/jquery.zoom.min.js}"></script>
<script src="js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>